pipeline/p_ExcelLoaddynamically_fromonPrem SQL.json
{
	"name": "p_ExcelLoaddynamically_fromonPrem SQL",
	"properties": {
		"description": "This pipeline loads Multiple ExcelSheets from an Excel file into corresponding Excel Tables. The Lookup Activity, \"GetExcelSheets\" gets the the names of ExcelSheels and their corresponsing Table Names from the table \"ExcelSheets\" in FA_MMG_ADF Database on FAVSD-DEV17.\n",
		"activities": [
			{
				"name": "GetListofExcelSheets",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select * from ExcelSheets where isActive = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "favsd_dev17_fa_mmg_adf",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetListofExcelSheets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetListofExcelSheets').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "az_adls_introtoadfna_02242025",
											"type": "LinkedServiceReference"
										},
										"path": "training02242025/MMG"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "EcelMMG",
									"type": "DatasetReference",
									"parameters": {
										"dsSheetName": {
											"value": "@item().SheetName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "FA_MMG_Dest",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().tablename",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "FailureLogs",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data1_copy1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "favsd_dev17",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "INSERT INTO ErrorLog (\n    RunDate,\n    PipelineName,\n    ActivityName, \n    SheetName,\n    TargetTable,\n    ErrorMessage,\n    RunId\n) VALUES (\n    GETDATE(),\n    '@{pipeline().Pipeline}',\n    'Copy Data Activity',\n    '@{item().SheetName}',\n    '@{item().TableName}',\n    'Sheet processing failed - check ADF monitor for details',\n    '@{pipeline().RunId}'\n)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}